.profile {
  max-width: 880px;
  padding: 42px 19px 36px;
  margin: auto;
  display: grid;
  grid-template-columns: minmax(282px, 1fr);
  justify-items: center;
  align-items: center;
  gap: 26px;
}

@media (min-width: 619px) {
  .profile {
    padding-top: 40px;
    padding-bottom: 50px;
    grid-template-columns: minmax(min-content, max-content) minmax(251px, 1fr) minmax(min-content, max-content);
    gap: 30px;
  }
}

@media (min-width: 880px) {
  .profile {
    padding-left: 0;
    padding-right: 0;
  }
}
