.cards__like {
  width: 22px;
  height: 19px;
  padding: 0;
  margin-right: 20px;
  justify-self: end;
  border: none;

  background: url('../../../images/cards-like.svg') center / cover no-repeat transparent;

  align-self: center;

  transition: opacity .3s linear;
  cursor: pointer;
}

.cards__like:hover {
  opacity: .5;
}
