.cards__like {
  width: 22px;
  height: 19px;
  padding: 0;
  margin-right: 20px;
  justify-self: end;
  border: none;

  background: url('../../../images/cards-like.svg') center / 100% no-repeat;

  align-self: center;

  cursor: pointer;
  /* opacity: 0.5;
  transition: 0.3s; */
}
