.profile__info-name {
  display: inline-block;
  margin: 0;
  margin-right: 10px;
  margin-bottom: 14px;

  font-size: 27px;
  font-weight: 500;
  line-height: 33px;

  max-width: 90%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (min-width: 880px) {
  .profile__info-name {
    font-size: 42px;
    line-height: 48px;
  }
}
