.cards__delete-button {
  width: 18px;
  height: 20px;
  padding: 0;
  border: none;

  background: url('../../../images/delete-card-button.svg') center / cover no-repeat;

  position: absolute;
  top: 18px;
  right: 15px;

  transition: opacity .3s linear;
  cursor: pointer;
}
